.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
}

.pagination button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #555;
}

.pagination button.active {
    background-color: var(--red);
    color: var(--white) !important;
}