/* section main-single*/
.main-single {
    padding: 7rem 5rem;
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
}

.main-single .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.main-single .box-container .box {
    flex: 40%;
    overflow: hidden;
    height: 100%;
}

.main-single .box-container .box img {
    height: 25rem;
    width: 20rem;
    border-radius: 5px;
}

.main-single .box-container .box img:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

.main-single .box-container .box h3 {
    font-size: 3rem;
    color: white;
    padding: 2rem;
    text-transform: uppercase;
}

.main-single .box-container .box p {
    font-size: 1rem;
    color: white;
    padding: 1rem;
}

.main-single .box-container .box .btn {
    font-size: 1.5rem;
    margin: 2rem;
}

.main-single .box-container2 .box2 {
    margin-top: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 5px dotted rgba(160, 160, 160, 0.3);
}

.main-single .box-container2 .box2 h3 {
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.main-single .box-container2 .box2 .stars {
    color: var(--yellow);
    padding: 1rem;
}

.main-single .box-container2 .box2 p {
    padding: .5rem;
    color: white;
}








/* fin section main-single*/