.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--red);
    border: 2px solid var(--red);
    border-radius: .5rem;
    border: 2px solid var(--red);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn:hover {
    background: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    color: var(--red);
}