/* section annonces */
.annonces .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.annonces .box-container .box {
    flex: 40%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    overflow: hidden;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.annonces .box-container .box .box2 {
    flex: 30%;
    overflow: hidden;
}

.annonces .box-container .box .box2 img {
    height: 15rem;
    width: 14rem;
    border-radius: 4px;
}

.annonces .box-container .box .box2 h3 {
    color: var(--black);
    margin-bottom: 1rem;
}

.annonces .box-container .box p {
    color: var(--black);
    margin-bottom: .5rem;
}

/* fin section annonces */