.dashboard .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.dashboard .box-container a {
    flex: 30%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.dashboard .box-container .box i {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--red);
}

.dashboard .box-container .box h3 {
    font-size: 20px;
    color: var(--black);
}

.dashboard .box-container .box p {
    font-size: 15px;
    color: var(--black);
    padding: 20px;
}

.dashboard .box-container .box:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}


.inputBox .inputGroup label {
    margin: 30px 0 10px 0;
    font-weight: bold;
    display: block;
}