/* le style des tous les boutons */
.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--red);
    border: 2px solid var(--red);
    border-radius: .5rem;
    border: 2px solid var(--red);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn:hover {
    background: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    color: var(--red);
}

/* fin les boutons */

/* tous les sections*/
section,
footer {
    padding: 2% 10%;
}

.box img {
    height: 15rem;
    width: 14rem;
}

/* fin tous les sections*/

/* les titres */
.heading {
    text-align: center;
    padding: 5%;
}

.heading span {
    font-size: 2rem;
    background: rgba(255, 165, 0, .2);
    color: var(--red);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

/* fin des titres */

/* la section revu */
.revu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.revu .box-container a {
    flex: 30%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.revu .box-container .box i {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--red);
}

.revu .box-container .box h3 {
    font-size: 20px;
    color: var(--black);
}

.revu .box-container .box p {
    font-size: 15px;
    color: var(--black);
    padding: 20px;
}

.revu .box-container .box:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

/* fin section revu */

/* section nouveau */
.nouveaux .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.nouveaux .box-container .box {
    flex: 30%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

.nouveaux .box-container .box .content {
    padding: 5px;
}

.nouveaux .box-container .box .content h3 {
    font-size: 18px;
    color: var(--black);
}

.nouveaux .box-container .box .content p {
    font-size: 15px;
    color: var(--black);
    padding: 1rem 0;
}

.nouveaux .box-container .box .content .stars i {
    font-size: 15px;
    color: var(--yellow);
}

.nouveaux .box-container .box .content .price {
    font-size: 15px;
    color: var(--black);
    padding-top: 2px;
}

.nouveaux .box-container .box .content .price span {
    color: var(--black);
    font-size: 15px;
    text-decoration: line-through;
}

/* fin section nouveau */


/* section nouveau */
.catalogue .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.catalogue h2 {
    padding: 20px;
}

.catalogue .box-container .box {
    flex: 30%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

.catalogue .box-container .box .content {
    padding: 5px;
}

.catalogue .box-container .box .content h3 {
    font-size: 18px;
    color: var(--black);
}

.catalogue .box-container .box .content p {
    font-size: 15px;
    color: var(--black);
    padding: 1rem;
}

.catalogue .box-container .box .content .stars i {
    font-size: 15px;
    color: var(--yellow);
}

.catalogue .box-container .box .content .price {
    font-size: 15px;
    color: var(--black);
    padding-top: 2px;
}

.catalogue .box-container .box .content .price span {
    color: var(--black);
    font-size: 15px;
    text-decoration: line-through;
}

/* fin section nouveau */

/* section annonces */
.annonces .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.annonces .box-container .box {
    flex: 40%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    overflow: hidden;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.annonces .box-container .box .box2 {
    flex: 30%;
    overflow: hidden;
}

.annonces .box-container .box .box2 img {
    height: 15rem;
    width: 14rem;
    border-radius: 4px;
}

.annonces .box-container .box .box2 h3 {
    color: var(--black);
    margin-bottom: 1rem;
}

.annonces .box-container .box p {
    color: var(--black);
    margin-bottom: .5rem;
}

/* fin section annonces */

/* section watch*/
.watch {
    padding: 7rem 5rem;
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
}

.watch .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.watch .box-container .box {
    flex: 40%;
    overflow: hidden;
    height: 100%;
}

.watch .box-container .box img {
    height: 25rem;
    width: 20rem;
    border-radius: 5px;
}

.watch .box-container .box img:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

.watch .box-container .box h3 {
    font-size: 3rem;
    color: white;
    padding: 2rem;
    text-transform: uppercase;
}

.watch .box-container .box p {
    font-size: 1rem;
    color: white;
    padding: 1rem;
}

.watch .box-container .box .btn {
    font-size: 1.5rem;
    margin: 2rem;
}

.watch .box-container2 .box2 {
    margin-top: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 5px dotted rgba(160, 160, 160, 0.3);
}

.watch .box-container2 .box2 h3 {
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.watch .box-container2 .box2 .stars {
    color: var(--yellow);
    padding: 1rem;
}

.watch .box-container2 .box2 p {
    padding: .5rem;
    color: white;
}

/* fin section watch*/