/* la section categorie-Home */
.categorie-Home .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.categorie-Home .box-container a {
    flex: 30%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.categorie-Home .box-container .box i {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--red);
}

.categorie-Home .box-container .box h3 {
    font-size: 20px;
    color: var(--black);
}

.categorie-Home .box-container .box p {
    font-size: 15px;
    color: var(--black);
    padding: 20px;
}

.categorie-Home .box-container .box:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

/* fin section categorie-Home */

/* section main-Home */
.main-Home .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.main-Home .box-container .box {
    flex: 30%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}

.main-Home .box-container .box .content {
    padding: 5px;
}

.main-Home .box-container .box .content h3 {
    font-size: 18px;
    color: var(--black);
}

.main-Home .box-container .box .content p {
    font-size: 15px;
    color: var(--black);
    padding: 1rem 0;
}

.main-Home .box-container .box .content .stars i {
    font-size: 15px;
    color: var(--yellow);
}

.main-Home .box-container .box .content .price {
    font-size: 15px;
    color: var(--black);
    padding-top: 2px;
}

.main-Home .box-container .box .content .price span {
    color: var(--black);
    font-size: 15px;
    text-decoration: line-through;
}

/* fin section categorie-Home */