.login {
    padding: 4% 20%;
}

.login h2 {
    color: var(--red);
    font-size: 2rem;
    padding: 5px;
}

.login .row form {
    padding: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.login .row form .inputBox {
    padding: 5px;
}

.login .row form .inputBox input {
    width: 50%;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, .2);
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
}

.login .row form .inputBox h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--black);
}

.login .row form .inputBox h4 {
    font-size: 15px;
    padding: 1rem 0;
    color: var(--black);
}

.login .row form .inputBox textarea {
    width: 50%;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, .2);
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
}

.login .row form .inputBox select {
    width: 50%;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, .2);
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
}