/* les variables et style standard*/

:root {
    --black: #2a2926;
    --red: rgb(204, 32, 32);
    --yellow: rgba(242, 229, 44, 0.8);
}

.active {
    color: rgb(204, 32, 32) !important;
}

* {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

/* haut de la page */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 8%;
}

header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span {
    color: var(--red);
}

header .navbar a {
    color: #fff;
    font-size: 1.2rem;
    margin: 5px;
}

header .navbar a:hover {
    color: var(--red);
}

header .icons {
    display: flex;
    z-index: 1001;
}

header .icons i {
    padding: 5px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

header .icons i:hover {
    color: var(--red);
}

header .search-bar-container {
    display: flex;
    align-items: center;
    z-index: 1001;
}

header .search-bar-container #search-bar {
    width: 100%;
    border: 3px solid var(--red);
    padding: 5px;
    text-transform: none;
    font-size: 15px;
    border-radius: 5px;
}

/* fin haut de la page */