.footer {
    background: var(--black);
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: .5rem 0;
    flex: 10rem;
}

.footer .box-container .box h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    color: #fff;
}

.footer .box-container .box p {
    font-size: 15px;
    padding: 10px;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 15px;
    padding: 10px;
    color: #eee;
}

.footer .box-container .box a:hover {
    color: var(--red);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 1rem .5rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(255, 255, 255, .2);
}

.footer .credit span {
    color: var(--red);
}