.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)), url('banner.jpg');
    background-size: cover;
    background-position: initial;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
}

.home .content p {
    font-size: 25px;
    color: #fff;
    padding: 5px;
}